* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ef4444;
  border-radius: 4px;
  height: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fbbf24;
  border-radius: 4px;
  height: 20px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}

.scale-x-100 {
  transform: scaleX(1);
}

.scale-x-0 {
  transform: scaleX(0);
}

.bg-red {
  background-color: red;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: gray;
}

.dark .bg-dark-yellow {
  background-color: yellow;
}

.dark .bg-dark-white {
  background-color: white;
}

.text-red {
  color: red;
}

.dark .text-dark-yellow {
  color: yellow;
}

.text-gray {
  color: gray;
}

.dark .text-dark-white {
  color: white;
}

.hidden {
  display: none;
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.pointer-events-none {
  pointer-events: none;
}
