.loader-1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  .dark & {
    background-color: #111827;
  }
  z-index: 50;
  display: grid;
  place-items: center;
  transition: opacity 1s ease-in-out;

  .loader-2 {
    width: 160px;
  }
}
