.nav-indicator {
  display: none;
  flex-direction: column;
  height: 300px;
  width: 1px;
  position: absolute;
  right: 48px;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 768px) {
    display: flex;
  }

  .nav-circle {
    width: 20px;
    aspect-ratio: 1 / 1;
    border: 1px solid red;
    border-radius: 9999px;
    .dark & {
      border: 1px solid yellow;
    }
    transition: background-color 1s;
  }
}
