.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  min-height: 100vh;
  @media (min-width: 1280px) {
    margin-top: 100px;
    padding-top: 0px;
    padding-bottom: 0;
  }

  .services-title {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 128px;
    margin-top: 48px;
    @media (min-width: 1280px) {
      margin-top: 0;
    }
  }

  .services-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 128px;
    margin-bottom: 64px;
    @media (min-width: 768px) {
      width: 600px;
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      width: 850px;
    }
    @media (min-width: 1280px) {
      width: 900px;
      margin-bottom: 0;
    }

    .skill-card {
      position: relative;
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 0.125rem;
      isolation: isolate;
      /* ring (外框) */
      box-shadow: 0 0 0 2px rgba(156, 163, 175, 0.2),
        0 4px 6px -1px rgba(55, 65, 81, 0.2),
        0 2px 4px -2px rgba(55, 65, 81, 0.2);
      @media (min-width: 768px) {
        max-width: 400px;
      }
      @media (min-width: 1024px) {
        max-width: 280px;
      }

      .skill-card-content {
        background-color: white;
        .dark & {
          background-color: black;
        }
        padding: 12px;
        transition: background-color 1s;

        .skill-icon {
          font-size: 1.875rem;
          color: black;
          .dark & {
            color: white;
          }
          transition: color 0.5s;
          @media (min-width: 768px) {
            font-size: 2.25rem;
          }
        }

        .skill-title {
          font-size: 1.25rem;
          font-weight: 700;
          margin-top: 16px;
          margin-bottom: 16px;
          color: red;
          .dark & {
            color: yellow;
          }
          transition: color 0.5s;
          @media (min-width: 768px) {
            font-size: 1.5rem;
          }
        }

        .skill-description {
          font-size: 0.875rem;
          font-weight: 300;
          overflow-y: auto;
          padding-right: 8px;
          height: 96px;
          color: black;
          .dark & {
            color: white;
          }
          transition: color 0.5s;
          @media (min-width: 768px) {
            height: 112px;
            font-size: 1rem;
          }
        }
      }
    }

    .skill-hover-panel {
      width: 100%;
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding-top: 16px;
      padding-bottom: 16px;
      transition: all 0.3s;
      z-index: -10;

      .project-links {
        display: flex;
        justify-content: space-between;

        .project-link {
          font-size: 1.125rem;
          width: 40px;
          display: grid;
          place-items: center;
          border-radius: 9999px;
          aspect-ratio: 1 / 1;
          text-decoration: none;
          background-color: red;
          color: white;
          .dark & {
            background-color: yellow;
            color: black;
          }
          transition: color;
        }
      }

      .project-count {
        font-size: 1.5rem;
        text-align: center;
        color: black;
        .dark & {
          color: white;
        }
        font-weight: 300;
        letter-spacing: 0.025em;
      }
    }
  }
}

.bottom-0 {
  bottom: 0;
}

.top-0 {
  top: 0;
}

.bottom-full {
  bottom: 100%;
}

.top-full {
  top: 100%;
}
